<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
        <label for="apr_input">APR</label>
        <input id="apr_input" type="text" name="rate">
    </div>
    <div>
        <label for="yrs_input">Number of years</label>
        <input id="yrs_input" type="text" name="years">
    </div>
    <div>
        <label for="amt_input">Principal</label>
        <input id="amt_input" type="text" name="amount">
    </div>
    <button>Calculate monthly payment</button>
</form>