<h1>Random Calculation</h1>

<form action="/rnd/results">
    <div>
        <label for="low_input">Minimum</label>
        <input id="low_input" type="text" name="a">
    </div>
    <div>
        <label for="high_input">Maximum</label>
        <input id="high_input" type="text" name="b">
    </div>
    <button>Pick random number</button>
</form>