<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @low %>
  </dd>
  <dt>
    Maximum
  </dt>
  <dd>
    <%= @high %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>