<h1>Square Calculation</h1>

<form action="/square/results">
    <div>
        <label for="number_input">Enter a number</label>
        <input id="number_input" type="text" name="user_number">
    </div>
    <button>Calculate Square</button>
</form>